body {    
    background-color: rgb(75, 34, 0);
   font-family: sans-serif;
   
}
h1, h2, h3, ul, h4, img, section, p{
    text-align: center;
    font-size:larger;
}
h3, ul, li{
    
    padding: 15px;
}
footer {
    text-align: center;
}
.menu{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgreen;
}
.footer{
    font-size: 14px;
}
a {
    color:blue;
}

a:visited{
    color: blue;
}
a:active{
    color: crimson;
}
a:hover{
    color: crimson;
}

